@model BidSystem.Models.ViewModel.StockMovementFormViewModel

@{
    ViewData["Title"] = "Criar movimento de estoque";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <hr />
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="StockMovement.Type" class="control-label"></label>
                <select asp-for="StockMovement.Type" asp-items="Html.GetEnumSelectList<BidSystem.Models.Enums.StockMovementType>()" class="form-control">
                    <option value="">Selecione um tipo</option>
                </select>
                <span asp-validation-for="StockMovement.Type" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="StockMovement.Quantity" class="control-label"></label>
                <input asp-for="StockMovement.Quantity" class="form-control" />
                <span asp-validation-for="StockMovement.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StockMovement.Notes" class="control-label"></label>
                <textarea asp-for="StockMovement.Notes" class="form-control" rows="4"></textarea>
                <span asp-validation-for="StockMovement.Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StockMovement.Date" class="control-label"></label>
                <input asp-for="StockMovement.Date" class="form-control" type="date" />
                <span asp-validation-for="StockMovement.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StockMovement.ItemId" class="control-label"></label>
                <select asp-for="StockMovement.ItemId" asp-items="@(new SelectList(Model.Items,"Id","Name"))" class="form-control"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-secondary" />
                <a asp-action="Index">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}